[Unit]
Description=Flask App (gunicorn) - {{ app_dir }}
After=network.target

[Service]
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_dir }}/app
Environment="DISCORD_WEBHOOK_URL={{ discord_webhook_url }}"
ExecStart={{ app_dir }}/venv/bin/gunicorn --workers 2 --bind 0.0.0.0:{{ listen_port }} --chdir {{ app_dir }}/app/flask.project flask_project:app
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target

